streamlit
sqlparse
sql_metadata
sqlglot
pandas
numpy
openai>=1.0.0

# PostgreSQL
psycopg2-binary

# MySQL
mysql-connector-python

# Snowflake
snowflake-connector-python

# BigQuery
google-cloud-bigquery
google-auth
